NEXT_PUBLIC_API_BASE_URL_AUTH_SER=auth_service_api
NEXT_PUBLIC_API_BASE_URL_INC_SER=incident_service_api

NEXT_PUBLIC_FRONTEND_HOST=your_frontend_host
NEXT_PUBLIC_FRONTEND_PORT=your_frontend_port

NODE_ENV=production/development/test