SMTP_USER=smtp_user_email
SMTP_PASS=smtp_user_password

# CLI code for setting internal Kubernetes secret
# kubectl create secret generic watchtower-notification-secret -n watchtower \
#   --from-env-file=.env.notification \
#   --dry-run=client -o yaml | kubectl apply -f -