POSTGRES_USER=postgresql_username
POSTGRES_PASSWORD=postgresql_password

# CLI code for setting internal Kubernetes secret
# kubectl create secret generic watchtower-postgres-secret -n watchtower \
#   --from-env-file=.env \
#   --dry-run=client -o yaml | kubectl apply -f -