DATABASE_URL=db_url_placeholder
JWT_ACCESS_SECRET=jwt_access_secret_placeholder

# CLI code for setting internal Kubernetes secret
# kubectl create secret generic watchtower-incident-secret -n watchtower \
#   --from-env-file=.env.incident \
#   --dry-run=client -o yaml | kubectl apply -f -