DATABASE_URL=db_url_placeholder
JWT_ACCESS_SECRET=jwt_access_secret_placeholder
JWT_REFRESH_SECRET=jwt_refresh_secret_placeholder

# CLI code for setting internal Kubernetes secret
# kubectl create secret generic watchtower-auth-secret -n watchtower \
#   --from-env-file=.env.auth \
#   --dry-run=client -o yaml | kubectl apply -f -