DATABASE_URL=your_database_url
PORT=your_auth_service_port

JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret

REDIS_HOST=redis/localhost
REDIS_PORT=6379

FRONTEND_URL=your_frontend_url

NODE_ENV=production/development/test